@import url('https://fonts.googleapis.com/css?family=Lato:700|Quicksand:300,400,700');

body {
  margin: 0;
  background-image: url(images/water-shore.jpg);
  background-color: #203246;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: Quicksand, 'century gothic';
  font-size: 60pt;
  font-weight: 700;
  color: white;
  margin: 0.7em 0;
  text-align: center;
}

h2 {
  font-family: Quicksand, 'century gothic';
  font-size: 50pt;
  font-weight: 400;
  color: white;
  margin: 0.5em 0;
  text-align: center;
}

p {
  margin: 1em 0;
  line-height: 1.5em;
  color: white;
  font-family: Quicksand, 'century gothic';
  font-size: 18pt;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-family: Quicksand, 'century gothic';
  font-weight: 700;
}

#homepage-header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

#homepage-header h1 {
  font-family: Lato, 'century gothic';
  font-size: 6vw;
  letter-spacing: 2vw;
  text-indent: 2vw;
  margin: 0;
}

@keyframes slogan-position {
  from {top: 75px;}
  to {top: 0;}
}

#homepage-header p {
  font-size: 24pt;
  position: relative;
  margin: 0;
  animation: slogan-position 1.3s linear 0.7 forwards;
}

@keyframes button-fadein {
  0% {opacity: 0; pointer-events: none;}
  50% {pointer-events: initial;}
  100% {opacity: 1; pointer-events: initial;}
}

#homepage-header a {
  position: relative;
  top: 100px;
  background-color: #4e8bb1;
  border-radius: 15px;
  padding: 30px;
  font-size: 5vw;
  font-weight: 300;
  opacity: 0;
  pointer-events: none;
  animation: button-fadein 1.2s linear 1s forwards;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s linear;
}

#homepage-header a:hover {
  background-color: #5f97b9;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s linear;
}

#logo {
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

#logo a {
  margin: 0;
  font-family: Lato, 'century gothic';
  font-size: 65pt;
  letter-spacing: 20pt;
}

#navbar {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline;
  margin: 0 0.2vw;
  line-height: 40pt;
}

#navbar a {
  font-size: 24pt;

  padding: 10px 2.8vw;
}

#navbar a:hover {
  outline: 3px white solid;
}

.topbar {
  padding: 50px 0;
  background-color: rgba(64, 128, 191, 0.8);
  animation: topbar-color 30s linear infinite alternate;
}

.container {
  display: table-cell;
  background-color: rgba(45, 89, 134, 0.8);
  padding: 0 4vw 4vw 4vw;
  width: 100vw;
}

.projects {
  text-align: center;
}

.projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projects li {
  vertical-align: middle;
  display: inline-block;
  margin: 20px 20px;
  border: 3px solid white;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  transition: background-color 1s linear;
}

.projects li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 1s linear;
}

.projects li:active {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.1s linear;
}

.projects p {
  font-size: 35pt;
  font-weight: 300;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.backstory-title {
  grid-area: title;
  text-align: center;
}

.backstory-image {
  grid-area: visual;
  padding-right: 20px;
}

.backstory-content {
  grid-area: backstory;
  padding-left: 20px;
}

.backstory-item {
  display: grid;
  margin-bottom: 50px;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "visual backstory";
}

.backstory-item.flipped .backstory-image {
  padding: 0 0 0 20px;
}

.backstory-item.flipped .backstory-content {
  padding: 0 20px 0 0;
}

body.gallery {
  background: white;
}

.gallery-container {
  display: flex;
  flex-flow: row wrap;
}

.gallery-item {
  position: relative;
  width: 20vw;
  height: 20vw;
  background-color: white;
  overflow: hidden;
  --text-opacity: 0;
}

.gallery-item.first {
  --display-div: block;
}

.gallery-item.first:hover {
  --display-div: none;
}

.gallery-item.first a {
  opacity: var(--text-opacity);
  transition: opacity 0.2s linear;
}

.gallery-item.first div {
  position: absolute;
  top: 0;
  opacity: calc(1 - var(--text-opacity));
  transition: opacity 0.2s linear;
  display: var(--display-div);
  transition-delay: display 0.2s;
}

.gallery-item.first h1 {
  color: black;
  font-weight: 700;
  font-size: 16pt;
}

.gallery-item.first p {
  color: black;
  font-size: 12pt;
  text-align: center;
}

.gallery-item h2 {
  margin: 0;
  font-size: 30pt;
  color: black;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: var(--text-opacity);
  transition: opacity 0.2s linear;
  pointer-events: none;
}

.gallery-item:hover {
  --text-opacity: 1;
}

.gallery-item img.landscape {
  position: inherit;
  width: auto;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.gallery-item img.portrait {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.literature-item {
  margin-bottom: 50px;
}

.poem {
  font-style: italic;
  text-align: center;
  line-height: 1.7em;
}

@media screen and (max-width: 1200px) {
  .backstory-title {
    text-align: left;
  }

  .backstory-image {
    padding: 0;
  }

  .backstory-content {
    padding: 0;
  }

  .backstory-item {
    margin-bottom: 50px;
    grid-template-columns: 100%;
    grid-template-areas:
      "title"
      "visual"
      "backstory";
  }

  .gallery-item {
    width: 25vw;
    height: 25vw;
  }
}

@media screen and (max-width: 1000px) {
  .gallery-item {
    width: calc(100vw/3);
    height: calc(100vw/3);
  }
}

@media screen and (max-width: 800px) {
  .gallery-item {
    width: 50vw;
    height: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .gallery-item {
    width: 100vw;
    height: 100vw;
  }
}

@media screen and (max-height: 500px) {
  #homepage-header {
    position: static;
    transform: translateY(0);
    margin: 50px 0;
  }
}
